body {
  text-align: center;
  background-color: #232626;
}

#heading{
  font-family: 'Press Start 2P','Times New Roman', Times, serif;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}


#level-title {
  font-family: 'Press Start 2P', 'Times New Roman', Times, serif;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}


#steps{
  text-align: left;
  font-family: 'Press Start 1P', 'Times New Roman', Times, serif;
  font-size: 1.65rem;
  margin:  5%;
  color:aliceblue;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
